<!DOCTYPE html>
<html2 lang="en">
<head>
  <%- include('./head'); %>
  <link rel="stylesheet" href="/stylesheets/book_detail.css">
</head>
<body class="container">
  <header>
      <%- include('./header'); %>
  </header>

  <main>
    <% if (locals.book) { %>
    <div class="web">
      <div class="container">
        <!-- container-img-info -->
        <div class="container-img-info">
          <div class="container--img">
            <div class="container---bigimg">
              <img src="/images/books/<%=book.image%>">
            </div>
          </div>
          <div class="container--info">
            <div class="info-book"><%=book.title%></div>
            <div class="info-book"><%=book.author%></div>

            <div class="info-version">
              <div>Issue date: <span><%=book.year%></span></div>
              <div>Edition: <span><%=book.edition%></span></div>
            </div>
            <div class="info-condition">Book condition: <span><%=book.condition%></span></div>
            <div class="info-owner">Owner: <span><%=book.firstname + ' ' + book.lastname%></span></div>
            <div class="info-rating">
              <span>Rating:</span>
              <div class="number-star"></div>
              <button class="buynow" onclick="messageOwner" name="btn_message_owner" style="margin-top: 20px;">Message with Owner</button>
            </div>
            <button class="btn submit" id="del">Delete</button>
            <form name="del-form" method="POST" action="/book/delete" style="display: none;">
              <input type="text" name="idmember" value="<%=book.idmember%>">
              <input type="text" name="idbook" value="<%=book.idbook%>">
            </form>
        </div>
        <!-- container-summary -->
        <div class="container-summary">
          <h1>SUMMARY</h1>
          <p><%=book.description%></p>
        </div>  
      </div>
      <div class="hide" style="display: none;">
        <div id="idbook"><%=book.idbook%></div>
        <div id="idowner"><%=book.idmember%></div>
        <div id="creditScore"><%=book.creditScore%></div>
      </div>
    </div>

    <script type="text/javascript">
      function countStar() {
        var creditScore= document.querySelector('#creditScore').textContent;
        var score = parseFloat(creditScore);
        var numberStar = document.querySelector('.number-star')
        if (score < 1.5) {
          numberStar.innerHTML = `<i class="fas fa-star"></i>`
        }
        else if (score < 2.5) {
          numberStar.innerHTML = `<i class="fas fa-star"></i><i class="fas fa-star"></i>`
        }
        else if (score < 3.5) {
          numberStar.innerHTML = `<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>`
        }
        else if (score < 4.5) {
          numberStar.innerHTML = `<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>`
        }
        else {
          numberStar.innerHTML = `<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>`
        }
      }
      countStar();

      var btnMess = document.querySelector('.buynow');
      btnMess.onclick = () => {
        var idbook= document.querySelector('#idbook').textContent;
        var idowner= document.querySelector('#idowner').textContent;
        // var idbook = new URLSearchParams(window.location.search).get('idbook');
        var idmember = localStorage.getItem('idmember');
        window.location.href = `/message?idbook=${idbook}&idowner=${idowner}&idmember=${idmember}`;
      }

      var btnDel = document.querySelector("#del");
      btnDel.onclick = () => {
        var delFrom = document.forms['del-form'];
        delFrom.submit();
      }
    </script>

    <% } %>
  </main>

  <footer>
    <%- include('./footer'); %>
  </footer>
</body>
</html>