<!DOCTYPE html>
<html2 lang="en">
<head>
  <%- include('./head', { title: "Book details" }); %>
  <link rel="stylesheet" href="/stylesheets/book_detail.css">
</head>
<body class="container">
  <header>
      <%- include('./header'); %>
  </header>



  <main>
    <script type="text/javascript">
      forceLogin();
    </script>

    <% if (locals.book) { %>
    <div class="web">
      <div class="container">
        <!-- container-img-info -->
        <div class="container-img-info">
          <div class="container--img">
            <div class="container---bigimg">
              <img src="/images/books/<%=book.image || 'placeholder.png'%>">
            </div>
          </div>
          <div class="container--info">
            <div class="info-book"><%=book.title%></div>
            <div class="info-book"><%=book.author%></div>

            <div class="info-version">
              <div>Issue date: <span><%=book.year%></span></div>
              <div>Edition: <span><%=book.edition%></span></div>
            </div>
            <div class="info-condition">Book condition: <span><%=book.condition%></span></div>
            <div class="info-owner">Owner: <span><%=book.firstname + ' ' + book.lastname%></span></div>
            <div class="info-rating">
              <span>Rating:</span>
              <div class="number-star"></div>
              <button class="buynow" name="btn_message_owner" style="margin-top: 20px;">Send a message to owner</button>
            </div>
            <!-- Btn DELETE & EDIT -->
            <button class="btn-submit" id="del">Delete</button>
            <button id="edit-book"><a href="book/edit?idbook=<%=book.idbook%>">Edit</a></button>
        </div>
        <!-- container-summary -->
        <div class="container-summary">
          <h1>SUMMARY</h1>
          <p><%=book.description%></p>
        </div>  
      </div>
      <!-- <div id="creditScore" style="display: none;"><%=book.creditScore%></div> -->
    </div>



    <script type="text/javascript">
      // var book = <%-JSON.stringify(book)%>;
      var idbook= <%=book.idbook%>;
      // var idmember= <%-book.idmember%>;
      var creditScore= parseFloat(<%=book.creditScore%>) || 0;
      // var creditScore= document.querySelector('#creditScore').textContent;
      function countStar() {
        var score = parseFloat(creditScore);
        var numberStar = document.querySelector('.number-star')
        if (creditScore == 0) {
          numberStar.innerHTML = `<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>`
        }
        else if (score < 1.5) {
          numberStar.innerHTML = `<i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>`
        }
        else if (score < 2.5) {
          numberStar.innerHTML = `<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>`
        }
        else if (score < 3.5) {
          numberStar.innerHTML = `<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>`
        }
        else if (score < 4.5) {
          numberStar.innerHTML = `<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>`
        }
        else {
          numberStar.innerHTML = `<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>`
        }
      }
      countStar();

      const idmember = localStorage.getItem('idmember');
      var btnMess = document.querySelector('.buynow');
      if (idmember == <%=book.idmember%>) {
        btnMess.style.display = 'none'; // cannot message yourself
      } else {
        if (document.querySelector('#edit-book')) document.querySelector('#edit-book').style.display = 'none';
        if (document.querySelector('#del')) document.querySelector('#del').style.display = 'none';
      }
      btnMess.onclick = () => {
        // var idbook = new URLSearchParams(window.location.search).get('idbook');
        var idmember = localStorage.getItem('idmember');
        window.location.href = `/message?idbook=${idbook}&idmember=${idmember}`;
      }

      var btnDel = document.querySelector("#del");
      var btnConfirmDel = 1;
      btnDel.onclick = () => {
        var check = confirm("Are you sure to delete?");
        if (check == true) {
            fetch(`/book/delete?idmember=${idmember}&idbook=${idbook}`, {
              method: "DELETE",
            })
            .then( () => {
              alert("Deleted");
              window.location.href = `http://localhost:3000/member?idmember=${idmember}`;
            })
        }
      }

      document.querySelector('button.buynow').onclick = () => {
        window.location.href = `/message?idmember=${idmember}&idbook=${idbook}`;
      };
    </script>
    <% } %>
  </main>



  <footer>
    <%- include('./footer'); %>
  </footer>
</body>
</html>