<!DOCTYPE html>
<html2 lang="en">
<head>
    <%- include('./head'); %>
    <link rel="stylesheet" href="/stylesheets/book_edit.css">
</head>
<body class="container">

<header>
    <%- include('./header'); %>
</header>

<main>
<% if (locals.book) { %>
  <h2 class="edit-text">Edit your book</h2>
  <div class="edit">
    <img src="/images/books/<%=book.image%>" style="width:100px;height:100px">
    <form method="POST" enctype="multipart/form-data" id="edit-from1">
      <div>New file: <input type="file" value="" name="image" /></div>
      <button type="submit">Edit image</button>
    </form>
  </div>
  <div>
    <form method="POST" enctype="multipart/form-data" id="edit-from2">
      <div class="edit">
        <p><label>Book title: </label><input type="text" value="<%=book.title%>" name="title"></p>
        <p><label>Author(s): </label><input type="text" value="<%=book.author%>" name="author"></p>
        <p><label>Published Year: </label><input type="text" value="<%=book.year%>" name="year"></p>
        <p><label>Edition: </label><input type="text" value="<%=book.edition%>" name="edition"></p>
        <p><label>Book condition: </label><input type="text" value="<%=book.condition%>" name="condition"></p>
        <button  class="edit-submit" type="submit">Submit</button>
      </div>
    </form>
  </div>
  <div class="edit-summary">
    <p><label>Summary: </label></br><p></p><textarea name="description" rows="10" cols="50" form="edit-from2"><%=book.description%></textarea></p>
  </div>
  

  <script>
    var idbook= <%=book.idbook%>;
    var idmember = localStorage.getItem('idmember');

    form1 = document.getElementById('edit-from1');
    form1.addEventListener("submit", (event) => {
      event.preventDefault();

      var inputElement = document.getElementsByName("image")[0];
      if (inputElement.value != "") {
        data1 = new FormData(form1)
        fetch(`/book/edit?idbook=${idbook}`, {
          "method": "PUT",
          "body": data1,
        })
        .then( () => {
          alert("Edited");
          setTimeout( () => {
            window.location.reload();
          }, 1000);
        })
      } else {
        alert("File is empty");
      }
    })

    form2 = document.getElementById('edit-from2');
    form2.addEventListener("submit", (event) => {
      event.preventDefault();
      var formData2 = new URLSearchParams(new FormData(form2));
      fetch(`/book/edit?idbook=${idbook}`, {
        "method": "PUT",
        "body": formData2,
      })
      .then( () => {
        alert("Edited");
        setTimeout( () => {
          window.location.href = `http://localhost:3000/member?idmember=${idmember}`;
        }, 1000);
      })
    })
  </script>

<% } %>
</main>

<footer>
  <%- include('./footer'); %>
</footer>

</body>
</html>
