<!DOCTYPE html>
<html2 lang="en">
<head>
  <%- include('./head'); %>
  <link rel="stylesheet" href="/stylesheets/book_detail.css">
</head>
<body class="container">
  <header>
      <%- include('./header'); %>
  </header>



  <main>
    <script type="text/javascript">
      const idmember = localStorage.getItem('idmember');
      if ( !idmember || parseInt(idmember) <= 0 ){
        alert('Please login first.');
        window.location.href = '/';
      }
    </script>

    <% if (locals.book) { %>
    <div class="web">
      <div class="container">
        <!-- container-img-info -->
        <div class="container-img-info">
          <div class="container--img">
            <div class="container---bigimg">
              <img src="/images/books/<%=book.image || 'placeholder.png'%>">
            </div>
          </div>
          <div class="container--info">
            <div class="info-book"><%=book.title%></div>
            <div class="info-book">by <%=book.author%></div>

            <div class="info-version">Edition: <span><%=book.edition%></span></div>
            <div class="info-version">Published year: <span><%=book.year%></span></div>

            <div class="info-condition">Book condition: <span><%=book.condition%></span></div>
            <div class="info-owner">Owner: <span><%=book.firstname + ' ' + book.lastname%></span></div>
            <div class="info-rating">
              <!-- <span>Rating:</span>
              <div class="number-star"></div> -->
              <button class="buynow" name="btn_message_owner" style="margin-top: 20px;">Send a message to owner</button>
            </div>
            <!-- Btn DELETE & EDIT -->
            <button class="btn-submit" id="del">Delete</button>
            <button id="edit-book"><a href="book/edit?idbook=<%=book.idbook%>">Edit</a></button>
        </div>
        <!-- container-summary -->
        <div class="container-summary">
          <h1>SUMMARY</h1>
          <p>
            <script>
              var book = <%-JSON.stringify(book)%>;
              var bookContent = book.description.replaceAll("\n","<br />");
              document.currentScript.parentNode.innerHTML = bookContent;
            </script>
          </p>
          <!-- <p><%=book.description%></p> -->
        </div>  
      </div>
      <!-- <div id="creditScore" style="display: none;"><%=book.creditScore%></div> -->
    </div>



    <script type="text/javascript">
      // var book = <%-JSON.stringify(book)%>;
      var idbook= <%=book.idbook%>;
      // var idmember= <%-book.idmember%>;
      // var creditScore= book.creditScore

      // const idmember = localStorage.getItem('idmember');
      var btnMess = document.querySelector('.buynow');

      // fix rule
      if (idmember == <%=book.idmember%>) {
        btnMess.style.display = 'none'; // cannot message yourself
      } else {
        if (document.querySelector('#edit-book')) document.querySelector('#edit-book').style.display = 'none';
        if (document.querySelector('#del')) document.querySelector('#del').style.display = 'none';
      }
      
      btnMess.onclick = () => {
        var idmember = localStorage.getItem('idmember');
        window.location.href = `/message?idbook=${idbook}&idmember=${idmember}`;
      }

      var btnDel = document.querySelector("#del");
      var btnConfirmDel = 1;
      btnDel.onclick = () => {
        var check = confirm("Are you sure to delete?");
        if (check == true) {
            fetch(`/book/delete?idmember=${idmember}&idbook=${idbook}`, {
              method: "DELETE",
            })
            .then( () => {
              alert("Deleted");
              window.location.href = `/member?idmember=${idmember}`;
            })
        }
      }

      document.querySelector('button.buynow').onclick = () => {
        window.location.href = `/message?idmember=${idmember}&idbook=${idbook}`;
      };

      $('#edit-book').click(()=>window.location.href=`book/edit?idbook=<%=book.idbook%>`);
    </script>
    <% } %>
  </main>



  <footer>
    <%- include('./footer'); %>
  </footer>
</body>
</html>
