<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./head', { title: "Profile" }); %>
</head>
<body class="container">

<header>
    <%- include('./header'); %>
</header>

<main>
  <script type="text/javascript">forceLogin();</script>

  <!-- STYLES FOR TESTING, FEEL FREE TO COMMENT THEM OUT -->
  <style>
    .t-my-books-heading { display: flex; align-items: center; }
    .t-my-books-heading form { margin-left: 30px; }
    #t-book-listing img {width:200px;height:300px;padding-bottom: 10px;}
    #t-book-listing {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin: 20px;
          padding: 0px 110px;
      }

      #t-book-listing a {
        flex: 1 0 calc(25% - 30px);
        display: flex;
        justify-content: center;
      }

    .editable {
        border: 1px solid black;
        padding: 0px 10px;
        cursor: text;
        color: red;
    }

    .non-editable {
        border: none;
        padding: none;
        cursor: default;
        color: black;
    }

    body {
          font-family: 'Lato', sans-serif;
          color: #565656;
          background-image: linear-gradient( rgba(171,147,83,0.1), rgba(171, 148, 83, 0.2));
        }

    .t-profile-information {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        font-size: 20px;
        margin-top: 20px;
    }

    .t-left-panel-avatar-and-name {
        border: 1px solid #ccc;
        width: 25%;
        height: 403px;
        margin: 10px 20px;
        text-align: center;
    }

    .t-left-panel-avatar-and-name img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin: 15px;
    }

    .t-left-panel-avatar-and-name button {
        width: 160px;
        height: 35px;
        color: #fff;
        background-color: #AB9353;
        border: none;
        border-radius: 2px;
        margin: 15px;
        margin-left: 650px;
    }

    .t-right-panel-other-info {
        border: 1px solid #ccc;
        width: 50%;
        height: 285px;
        margin: 10px 20px;
        padding: 25px;
    }
    

      /*Book listing*/

    .myBooks-text {
    font-size: 28px;
    padding-left: 110px;
    }

    .edit-profile {
      width: 160px;
      height: 35px;
      color: #fff;
      background-color: #AB9353;
      border: none;
      border-radius: 2px;
      margin: 15px;
      font-size: 20px;
    }
    #t-book-listing {
        display: flex;
        flex-direction: column;
      }



    
    .book-listing {
      padding: 10px;
      width: 22%;
      cursor: pointer;
    }

    .book-listing img { 
      width: 100%;
      height: auto;
    }

    .book-name {
      padding: 20px;
      text-align: center;
    }

      /*Review*/
      
    .reviews {
        border: 1px solid #ccc;
        width: 90%;
        height: 200px;
        margin: 10px;
        padding: 25px;
    }

    .exchange-history {
        text-align: center;
        height: 40px;
        width: 200px;
        color: #fdfbf3;
        background-color: #AB9353;
        border-color:#AB9353;
        border-radius: 4px;
        border: 1px solid;
        margin-left: 10px;
    }
    
    .t-avatar label[for="btn-change-avatar"] { cursor: pointer; position: absolute; left: 30px; top: 200px; display: inline-block; padding: 5px; border: 1px solid gray; background-color: #e5e5e5; }

    label[for="t-file-picker"] {
        width: 160px;
        height: 35px;
        color: #fff;
        background-color: #AB9353;
        border: none;
        border-radius: 2px;
        margin: 15px;
        cursor: pointer;
        padding: 5px;
    }

    label[for="t-file-picker"]:hover {
      filter: drop-shadow(2px 3px 4px gray) brightness(1.1);
    }

    .t-full-name{ margin-bottom: 5px; }
  </style>

  <% if (locals.members) { %>
    <div class="t-profile-information">
      <div class="t-left-panel-avatar-and-name">
        <div class="t-avatar"><img src="" id="avatar"></div>
        <div class="t-full-name"><%=members[0].firstname + ' ' + members[0].lastname%></div>
        <!-- edit image -->
        <form method="POST" enctype="multipart/form-data" id="edit-from1">
          <div><label for="t-file-picker">Change image</label><input type="file" value="" accept="image/*" name="image" id="t-file-picker" style="display: none;" /></div>
          <button type="submit" id="btnSubmitImg" style="display: none;">Submit image</button>
        </form>
      </div>
      <form method="POST" enctype="multipart/form-data" id="edit-from2" style="width: 700px;">
        <table class="t-right-panel-other-info">
          <tr>
            <td><label>First name </label></td>
            <td><label class="non-editable" name="profile-info-to-edit" contentEditable="false"><%=members[0].firstname%></label></td>
          </tr>
          <tr>
            <td><label>Last name </label></td>
            <td><label class="non-editable" name="profile-info-to-edit" contentEditable="false"><%=members[0].lastname%></label></td>
          </tr>
          <tr>
            <td><label>Email </label></td>
            <td><label class="non-editable" name="profile-info-to-edit" contentEditable="false"><%=members[0].emailaddress%></label></td>
          </tr>
          <tr> 
            <td><label>Phone </label></td>
            <td><label class="non-editable" name="profile-info-to-edit" contentEditable="false"><%=members[0].phonenumber%></label></td>
          </tr>
          <tr>
            <td><label>Address </label></td>
            <td><label class="non-editable" name="profile-info-to-edit" contentEditable="false"><%=members[0].address%></label></td>
          </tr>
          <tr>
            <td></td>
            <td><button class="edit-profile" id="edit-my-profile">Edit my profile</button></td>
          </tr>
        </table>
      </form>
    </div>

    <div class="t-my-books-heading">
      <h2 class="myBooks-text">My books</h2>  <!-- NEW code -->
      <script type="text/javascript">
        if (localStorage.getItem('idmember') != <%=members[0].idmember%>) {
          $('.t-my-books-heading h2').text(`<%=members[0].firstname%>'s books`);
        }
      </script>
      <form action="/book/upload" method="POST" class="upload-book">
        <script type="text/javascript">
          insertHiddenIdmemberTo(document.currentScript.parentNode);
        </script>
        <input type="submit" name="" value="Upload a new book">
      </form>
    </div>

      <div id="t-my-books">
        <div id="t-book-listing">
          
        </div>
        <div class="centered-pagination">
          <div class="t-pagination">
              <a id="btn_prev">Previous</a>
              <!-- <a id="page_span" class="active">1</a>
              <a id="page_span">2</a>
              <a id="page_span">3</a> -->
              <div id="page_span"></div>
              <a id="btn_next">Next</a>
          </div>
        </div>
      </div>  

<!--       <h2 class="about-me-heading">About me</h2>
      <script type="text/javascript">
        if (localStorage.getItem('idmember') != <%=members[0].idmember%>) {
          $('.about-me-heading').text( `About <%=members[0].firstname%>`);
        }
      </script>
      <div class="about-me">
      </div> -->

        
    <!-- <form action="/book/upload" method="POST">
      <script type="text/javascript">
        insertHiddenIdmemberTo(document.currentScript.parentNode);
      </script>
      <input type="submit" name="" value="Upload a book">
    </form> -->
    <div class="hide" style="display: none;">
      <!-- <div id="image"><%=members[0].creditScore%></div> -->
      <div id="image"><%=members[0].image%></div>
    </div>
  <% } %>
    
</main>

<footer>
  <%- include('./footer'); %>
</footer>

  <!-- Edit info member -->
  <script>
    // remove 'Edit my profile' button in guest view
    if (localStorage.getItem('idmember') != <%=members[0].idmember%>) {
      if ($('#edit-my-profile')) $('#edit-my-profile').remove();
      if ($('#btnSubmitImg')) $('#btnSubmitImg').remove();
      if ($('label[for="t-file-picker"')) $('label[for="t-file-picker"').remove();
    }

    function toggleEdit() {
      let editMyProfileButton = document.getElementById('edit-my-profile');

      if (editMyProfileButton) {
        if ( editMyProfileButton.innerText == 'Edit my profile'){  //contentEditable == false
          editMyProfileButton.innerText = 'Done editing';
        } else {
          editMyProfileButton.innerText = 'Edit my profile';
          document.getElementById('edit-from2').submit();
        }
      }
      
      var members = <%-JSON.stringify(members)%>;
      var tableDom = document.querySelector(".t-right-panel-other-info");
      tableDom.innerHTML = `
        <tr>
          <td><label>First name </label></td>
          <td><input type="text" value="${members[0].firstname}" name="firstname"></td>
        </tr>
        <tr>
          <td><label>Last name </label></td>
          <td><input type="text" value="${members[0].lastname || ''}" name="lastname"></td>
        </tr>
        <tr>
          <td><label>Email </label></td>
          <td><input type="text" value="${members[0].emailaddress}" name="emailaddress"></td>
        </tr>
        <tr> 
          <td><label>Phone </label></td>
          <td><input type="text" value="${members[0].phonenumber || ''}" name="phonenumber"></td>
        </tr>
        <tr>
          <td><label>Address </label></td>
          <td><input type="text" value="${members[0].address || ''}" name="address"></td>
        </tr>
        <button type="submit" id="btnDom">Confirm</button>
      `
    }
    
    const element = document.getElementById('edit-my-profile');
    if (element) element.onclick = toggleEdit;

    form2 = document.getElementById('edit-from2');
    form2.addEventListener("submit", (event) => {
      event.preventDefault();
      var formData2 = new URLSearchParams(new FormData(form2));
      fetch(`/member?idmember=${idmember}`, {
        "method": "PUT",
        "body": formData2,
      })
      .then( () => {
        alert("Edited");
        setTimeout( () => {
          window.location.reload();
        }, 1000);
      })
    });
  </script>
    
  <!-- change pagebook & validate -->
  <script>
    const itemsPerPage = 12;
    let currentPage = 1;
    
    const books = <%-JSON.stringify(books)%>;
    const pageCount = Math.ceil(books.length / itemsPerPage);
    changePage(1);

    function prevPage()
    {
      if (currentPage > 1) {
        currentPage--;
        changePage(currentPage);
      }
    }

    function nextPage()
    {
      if (currentPage < pageCount) {
        currentPage++;
        changePage(currentPage);
      }
    }
        
    function changePage(page)
    {
      // const btnNextElem = document.getElementById("t-btn-next");
      // const btnPrevElem = document.getElementById("t-btn-prev");
      const btnNextElem = document.getElementById("btn_next");
      const btnPrevElem = document.getElementById("btn_prev");
      const bookListingElem = document.getElementById("t-book-listing");
      const pageSpanElem = document.getElementById("page_span");

      btnNextElem.onclick = nextPage;
      btnPrevElem.onclick = prevPage;
   
      // Validate page
      if (page < 1) page = 1;
      if (page > pageCount) page = pageCount;

      bookListingElem.innerHTML = "";

      for (let i = (page-1) * itemsPerPage; i < (page * itemsPerPage); i++) {
          if (i >= books.length) break;  //last page may not have enough items like previous pages
          bookListingElem.innerHTML += `<a href="/book?idbook=${books[i].idbook}"><img src="/images/books/${books[i].image || 'placeholder.png'}"></a>`;
      }

      pageSpanElem.innerHTML = "";

      for (let i = 1; i <= pageCount; i++) {
        if (i == page) {
          pageSpanElem.innerHTML += `<span class="page-number current-page">${i}</span>`;  
        } else {
          pageSpanElem.innerHTML += `<span class="page-number" onclick="changePage(${i})">${i}</span>`;
        }
      }

      if (page == 1) {
        btnPrevElem.disabled = true;
      } else {
        btnPrevElem.disabled = false;
      }

      if (page == pageCount) {
        btnNextElem.disabled = true;
      } else {
        btnNextElem.disabled = false;
      }
    }

    

  </script>
  
  <!-- Display Avartar & Edit image -->
  <script>
    // Display Avartar
    var img = document.querySelector("#image").textContent;
    var avatarDom = document.querySelector("#avatar");
    if (img) {
      avatarDom.src =`/images/avatars/${img}`
    } else {
      avatarDom.src ="/images/avatar.jpg"
    }
    
    // Edit image
    var idmember = localStorage.getItem('idmember');
    var btnSubmitImgDom = document.getElementById('btnSubmitImg');

    btnSubmitImgDom.addEventListener("click", () => {
      form1 = document.getElementById('edit-from1');
      form1.addEventListener("submit", (event) => {
        event.preventDefault();

        var inputElement = document.getElementsByName("image")[0];
        if (inputElement.value != "") {
          data1 = new FormData(form1)
          fetch(`/member?idmember=${idmember}`, {
            "method": "PUT",
            "body": data1,
          })
          .then( () => {
            alert("Edited");
            setTimeout( () => {
              window.location.reload();
            }, 1000);
          })
        } else {
          alert("File is empty");
        }
      })
    });

    $('#t-file-picker').change( (e) => {
      var tgt = e.target || window.event.srcElement,
          files = tgt.files;

      // FileReader support
      if (FileReader && files && files.length) {
          var fr = new FileReader();
          fr.onload = function () {
              document.querySelector('.t-avatar img').src = fr.result;
          }
          fr.readAsDataURL(files[0]);

          form1 = document.getElementById('edit-from1');
          data1 = new FormData(form1)
          fetch(`/member?idmember=${idmember}`, {
              "method": "PUT",
              "body": data1,
            })
              .then( (res) => res.json())
              .then( (data) => {
                if( data.success == false ) {
                  alert('Server cannot process this image. Please choose another one.');
                } else {
                  // window.location.reload();
                }
              })
              .catch( (err) => console.log(err));
      }
    });



  </script>
</body>
</html>