<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head'); %>
</head>
<body class="container">

<header>
    <%- include('./header', { isAuthorized: true }); %>
</header>

<main>

  <!-- STYLES FOR TESTING, FEEL FREE TO COMMENT THEM OUT -->
  <style>
    .t-profile-information {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    font-size: 20px;
    margin-top: 20px;
}

.t-left-panel-avatar-and-name {
    border: 1px solid #ccc;
    width: 25%;
    height: 285px;
    margin: 10px 20px;
    text-align: center;
}

.t-left-panel-avatar-and-name img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 15px;
}

.t-left-panel-avatar-and-name button {
    width: 160px;
    height: 35px;
    color: #fff;
    background-color: #AB9353;
    border: none;
    border-radius: 2px;
    margin: 15px;
}

.t-right-panel-other-info {
    border: 1px solid #ccc;
    width: 50%;
    height: 285px;
    margin: 10px 20px;
    padding: 25px;
}

  /*Book listing*/

.t-book-listing {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.t-book-listing img {
    width: 150px;
    height: 200px;
    margin: 20px;
}

.centered-pagination {
    text-align: center;
}

.t-pagination {
    display: inline-block;
}

.t-pagination a  {
    float: left;
    padding: 15px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.t-pagination a.active {
    background-color: #AB9353;
    color: #fdfbf3;
    border-color: #AB9353;
}

.t-pagination a:hover:not(.active) {
    background-color: #AB9353;
    color: #fdfbf3;
}

  /*Review*/
  
.reviews {
    border: 1px solid #ccc;
    width: 90%;
    height: 200px;
    margin: 10px;
    padding: 25px;
}

.exchange-history {
    text-align: center;
    height: 40px;
    width: 200px;
    color: #fdfbf3;
    background-color: #AB9353;
    border-color:#AB9353;
    border-radius: 4px;
    border: 1px solid;
    margin-left: 10px;
}
  </style>

  <% if (locals.members) { %>
    <div class="t-profile-information">
      <div class="t-left-panel-avatar-and-name">
        <div class="t-avatar"><img src="" id="avatar"></div>
        <div class="t-full-name"><%=members[0].firstname + ' ' + members[0].lastname%></div>
        <!-- edit image -->
        <form method="POST" enctype="multipart/form-data" id="edit-from1">
          <input type="text" name="exist" value="exist" style="display: none;">
          <div>Change image: <input type="file" value="" name="image" /></div>
          <button type="submit" id="btnSubmitImg">Submit image</button>
        </form>
        <button id="edit-my-profile">Edit my profile</button>
      </div>
      <form method="POST" enctype="multipart/form-data" id="edit-from2">
        <table class="t-right-panel-other-info">
          <tr>
            <td><label>First name </label></td>
            <td><label class="non-editable" name="profile-info-to-edit" contentEditable="false"><%=members[0].firstname%></label></td>
          </tr>
          <tr>
            <td><label>Last name </label></td>
            <td><label class="non-editable" name="profile-info-to-edit" contentEditable="false"><%=members[0].lastname%></label></td>
          </tr>
          <tr>
            <td><label>Email </label></td>
            <td><label class="non-editable" name="profile-info-to-edit" contentEditable="false"><%=members[0].emailaddress%></label></td>
          </tr>
          <tr> 
            <td><label>Phone </label></td>
            <td><label class="non-editable" name="profile-info-to-edit" contentEditable="false"><%=members[0].phonenumber%></label></td>
          </tr>
          <tr>
            <td><label>Address </label></td>
            <td><label class="non-editable" name="profile-info-to-edit" contentEditable="false"><%=members[0].address%></label></td>
          </tr>
          <tr>
            <td><label>Credit score</label></td>
            <td><label>
              <script type="text/javascript">
                const creditScore = <%-members[0].creditScore%> ;
                document.currentScript.parentNode.innerHTML = creditScoreToHTMLStar(creditScore);
              </script>
            </label></td>
          </tr>
        </table>
      </form>
    </div>

    <h2>My books</h2>  <!-- NEW code -->
    <p style="color: red">(Now 12 books per page. Remember to insert enough data to your db if you want to see more than 1 page.)</p>
      <div id="t-my-books">
        <div id="t-book-listing">
          
        </div>
        <div id="t-pagination">
          <button id="t-btn-prev">< Previous</button>
          <div id="page-span"></div>
          <button id="t-btn-next">Next ></button>
        </div>
      </div>  

      <h2>About me</h2>
      <div class="about-me">
        <p style="color: red">(There must exist a new column in the member table to store this 'about me' data.)</p>
      </div>

      <h2>Latest Reviews</h2>
      <div class="latest-reviews">
        <p style="color: red">(Updating...)</p>
      </div>
        
    <form action="/book/upload" method="POST">
      <script type="text/javascript">
        insertHiddenIdmemberTo(document.currentScript.parentNode);
      </script>
      <input type="submit" name="" value="Upload a book">
    </form>
    <div class="hide" style="display: none;">
      <!-- <div id="image"><%=members[0].creditScore%></div> -->
      <div id="image"><%=members[0].image%></div>
    </div>
  <% } %>
    
</main>

<footer>
    <%- include('./footer'); %>
</footer>

  <!-- Edit info member -->
  <script>
    function toggleEdit() {
      let editMyProfileButton = document.getElementById('edit-my-profile');
      if (editMyProfileButton.innerText == 'Edit my profile'){  //contentEditable == false
          editMyProfileButton.innerText = 'Done editing';
      } else {
          editMyProfileButton.innerText = 'Edit my profile';
      }
      
      var members = <%-JSON.stringify(members)%>;
      var tableDom = document.querySelector(".t-right-panel-other-info");
      tableDom.innerHTML = `
          <tr>
            <td><label>First name </label></td>
            <td><input type="text" value="${members[0].firstname}" name="firstname"></td>
          </tr>
          <tr>
            <td><label>Last name </label></td>
            <td><input type="text" value="${members[0].lastname}" name="lastname"></td>
          </tr>
          <tr>
            <td><label>Email </label></td>
            <td><input type="text" value="${members[0].emailaddress}" name="emailaddress"></td>
          </tr>
          <tr> 
            <td><label>Phone </label></td>
            <td><input type="text" value="${members[0].phonenumber}" name="phonenumber"></td>
          </tr>
          <tr>
            <td><label>Address </label></td>
            <td><input type="text" value="${members[0].address}" name="address"></td>
          </tr>

          <button type="submit" id="btnDom">Confirm</button>
      `
    }
    const element = document.getElementById('edit-my-profile');
    if (element) element.onclick = toggleEdit;

    form2 = document.getElementById('edit-from2');
      form2.addEventListener("submit", (event) => {
      event.preventDefault();
      var formData2 = new URLSearchParams(new FormData(form2));
      fetch(`/member?idmember=${idmember}`, {
        "method": "PUT",
        "body": formData2,
      })
      .then( () => {
        alert("Edited");
        setTimeout( () => {
          window.location.reload();
        }, 1000);
      })
    })
  </script>
    
  <!-- change pagebook & validate -->
  <script>
    const itemsPerPage = 12;
    let currentPage = 1;
    
    const books = <%-JSON.stringify(books)%>;
    const pageCount = Math.ceil(books.length / itemsPerPage);
    changePage(1);

    function prevPage()
    {
        if (currentPage > 1) {
            currentPage--;
            changePage(currentPage);
        }
    }

    function nextPage()
    {
        if (currentPage < pageCount) {
            currentPage++;
            changePage(currentPage);
        }
    }
        
    function changePage(page)
    {
      const btnNextElem = document.getElementById("t-btn-next");
      const btnPrevElem = document.getElementById("t-btn-prev");
      const bookListingElem = document.getElementById("t-book-listing");
      const pageSpanElem = document.getElementById("page-span");

      btnNextElem.onclick = nextPage;
      btnPrevElem.onclick = prevPage;
   
      // Validate page
      if (page < 1) page = 1;
      if (page > pageCount) page = pageCount;

      bookListingElem.innerHTML = "";

      for (let i = (page-1) * itemsPerPage; i < (page * itemsPerPage); i++) {
          if (i >= books.length) break;  //last page may not have enough items like previous pages
          bookListingElem.innerHTML += `<a href="/book?idbook=${books[i].idbook}"><img src="/images/books/${books[i].image}"></a>`;
      }

      pageSpanElem.innerHTML = "";

      for (let i = 1; i <= pageCount; i++) {
        if (i == page) {
          pageSpanElem.innerHTML += `<span class="page-number current-page">${i}</span>`;  
        } else {
          pageSpanElem.innerHTML += `<span class="page-number" onclick="changePage(${i})">${i}</span>`;
        }
      }

      if (page == 1) {
          btnPrevElem.disabled = true;
      } else {
          btnPrevElem.disabled = false;
      }

      if (page == pageCount) {
          btnNextElem.disabled = true;
      } else {
          btnNextElem.disabled = false;
      }
    }
  </script>
  
  <!-- Display Avartar & Edit image -->
  <script>
    // Display Avartar
    var img = document.querySelector("#image").textContent;
    var avatarDom = document.querySelector("#avatar");
    if (img) {
      avatarDom.src =`/images/books/${img}`
    } else {
      avatarDom.src ="/images/avatar.jpg"
    }
    
    // Edit image
    var idmember = localStorage.getItem('idmember');
    var btnSubmitImgDom = document.getElementById('btnSubmitImg');
    btnSubmitImgDom.addEventListener("click", () => {
      form1 = document.getElementById('edit-from1');
    form1.addEventListener("submit", (event) => {
      event.preventDefault();
      data1 = new FormData(form1)
      fetch(`/member?idmember=${idmember}`, {
        "method": "PUT",
        "body": data1,
      })
      .then( () => {
        alert("Edited");
        setTimeout( () => {
          window.location.reload();
        }, 1000);
      })
      // .catch( (err) => {
      //   alert("Pls choose image");
      //   setTimeout( () => {
      //     window.location.reload();
      //   }, 1000);
      // })
    })

    });

  </script>
</body>
</html>