<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head'); %>
</head>
<body class="container">

<header>
    <%- include('./header', { isAuthorized: true }); %>
</header>

<main>

  <!-- STYLES FOR TESTING, FEEL FREE TO COMMENT THEM OUT -->
  <style>
    #t-book-listing img { width: 100px; height: 150px; }
    span.page-number { margin-right: 5px; cursor: pointer; }
    span.page-number:hover { border: 1px solid gray; }
    span.page-number.current-page { background-color: blue; }
  </style>

  <% if (locals.members) { %>
    <div class="t-profile-information">
      <div class="t-left-panel-avatar-and-name">
          <div class="t-avatar"><img src="/images/avatar.jpg"></div>
          <div class="t-full-name"><%=members[0].firstname + ' ' + members[0].lastname%></div>
          <button id="edit-my-profile">Edit my profile</button>
      </div>
      <table class="t-right-panel-other-info">
           <tr>
               <td><label>Full name </label></td>
               <td><label class="non-editable" name="profile-info-to-edit" contentEditable="false"><%=members[0].firstname + ' ' + members[0].lastname%></label></td>
           </tr>
           
           <tr>
               <td><label>Email </label></td>
               <td><label class="non-editable" name="profile-info-to-edit" contentEditable="false"><%=members[0].emailaddress%></label></td>
           </tr>
           <tr> 
               <td><label>Phone </label></td>
               <td><label class="non-editable" name="profile-info-to-edit" contentEditable="false"><%=members[0].phonenumber%></label></td>
           </tr>
           <tr>
               <td><label>Address </label></td>
               <td><label class="non-editable" name="profile-info-to-edit" contentEditable="false"><%=members[0].address%></label></td>
           </tr>
           <tr>
          <td><label>Credit score</label></td>
          <td><label>
              <script type="text/javascript">
                const creditScore = <%=members[0].creditScore%>;
                document.currentScript.parentNode.innerHTML = creditScoreToHTMLStar(creditScore);
              </script>
          </label></td>
          </tr>
      </table>
    </div>

    <h2>My books</h2>  <!-- NEW code -->
    <p style="color: red">(Now 12 books per page. Remember to insert enough data to your db if you want to see more than 1 page.)</p>
      <div id="t-my-books">
        <div id="t-book-listing">
          
        </div>
        <div id="t-pagination">
          <button id="t-btn-prev">< Previous</button>
          <div id="page-span"></div>
          <button id="t-btn-next">Next ></button>
        </div>
      </div>  

      <h2>About me</h2>
      <div class="about-me">
        <p style="color: red">(There must exist a new column in the member table to store this 'about me' data.)</p>
      </div>

      <h2>Latest Reviews</h2>
      <div class="latest-reviews">
        <p style="color: red">(Updating...)</p>
      </div>
        
    <form action="/book/upload" method="POST">
      <script type="text/javascript">
        insertHiddenIdmemberTo(document.currentScript.parentNode);
      </script>
      <input type="submit" name="" value="Upload a book">
    </form>
  <% } %>

</main>

<footer>
    <%- include('./footer'); %>
</footer>

  <script>
    function toggleEdit() {
      let editMyProfileButton = document.getElementById('edit-my-profile');

      if (editMyProfileButton.innerText == 'Edit my profile'){  //contentEditable == false
          editMyProfileButton.innerText = 'Done editing';
      } else {
          editMyProfileButton.innerText = 'Edit my profile';
      }
      
      for (let element of document.getElementsByName('profile-info-to-edit')){
          element.onkeypress = (event) => {
              if (event.key == 'Enter') {
                  event.preventDefault();
              }
          }

              if (element.isContentEditable == false){
                element.contentEditable = true;
                element.classList.remove('non-editable');
                element.classList.add('editable');
              } else {
                element.contentEditable = false;
                element.classList.remove('editable');
                element.classList.add('non-editable');
              }
      }
    }



    const element = document.getElementById('edit-my-profile');
    if (element) element.onclick = toggleEdit;

    const itemsPerPage = 12;
    let currentPage = 1;
    
    const books = <%-JSON.stringify(books)%>;
    const pageCount = Math.ceil(books.length / itemsPerPage);
    changePage(1);

    function prevPage()
    {
        if (currentPage > 1) {
            currentPage--;
            changePage(currentPage);
        }
    }

    function nextPage()
    {
        if (currentPage < pageCount) {
            currentPage++;
            changePage(currentPage);
        }
    }
        
    function changePage(page)
    {
      const btnNextElem = document.getElementById("t-btn-next");
      const btnPrevElem = document.getElementById("t-btn-prev");
      const bookListingElem = document.getElementById("t-book-listing");
      const pageSpanElem = document.getElementById("page-span");

      btnNextElem.onclick = nextPage;
      btnPrevElem.onclick = prevPage;
   
      // Validate page
      if (page < 1) page = 1;
      if (page > pageCount) page = pageCount;

      bookListingElem.innerHTML = "";

      for (let i = (page-1) * itemsPerPage; i < (page * itemsPerPage); i++) {
          if (i >= books.length) break;  //last page may not have enough items like previous pages
          bookListingElem.innerHTML += `<a href="/book?idbook=${books[i].idbook}"><img src="/images/books/${books[i].image}"></a>`;
      }

      pageSpanElem.innerHTML = "";

      for (let i = 1; i <= pageCount; i++) {
        if (i == page) {
          pageSpanElem.innerHTML += `<span class="page-number current-page">${i}</span>`;  
        } else {
          pageSpanElem.innerHTML += `<span class="page-number" onclick="changePage(${i})">${i}</span>`;
        }
      }

      if (page == 1) {
          btnPrevElem.disabled = true;
      } else {
          btnPrevElem.disabled = false;
      }

      if (page == pageCount) {
          btnNextElem.disabled = true;
      } else {
          btnNextElem.disabled = false;
      }
    }
  </script>
</body>
</html>